<div>
    <h1>Chat Online</h1>
    <div class="bienvenida"></div>
  <input type="text" name="msg" id="chatinput"><br/>
  

  <div class="chatbox"></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
</div>